.toy-filter {
    background-color: var(--clr2bg);
    margin-block-start: -76px;
    padding: 1.5rem;
    padding-block: 84px;
    /* padding-block-start: 1rem; */
}

.toy-filter form {
    display: grid;
    align-self: start;
    /* gap: 1rem; */
    /* align-items: start; */
}

.toy-filter form label {
    margin-block-start: 1.5rem;
    margin-block-end: .5rem;
    ;
}

.toy-filter form input:first-of-type {
    padding-inline-end: 100px;
}

.toy-filter #name {
    position: fixed;
    top: .7rem;
    width: 300px;
    padding: .7rem 1rem;
    border-radius: 2rem;
    border: none;
    z-index: 10;
}

.toy-filter input,
select {
    /* align-self: center; */
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #e3e3e3;
}


.toy-filter a {
    align-self: center;
}

.toy-filter form label {
    justify-self: start;
    font-size: 1.2rem;
    font-weight: 600;
}

.toy-filter .filter-categories {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.toy-filter .btn-label {
    background-color: #e3e3e3;
    width: 70px;
    height: 70px;
    text-align: center;
    color: var(--clr1bg);
}

.toy-filter .btn-label:hover {
    background-color: var(--clr1bg-darker);
}

.toy-filter .btn-label.active {
    background-color: var(--clr1bg-darker);
    color: black;
}