.toy-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.toy-list li {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-around;
    background-color: var(--clr1bg);
    margin: 0.5em;
}