@import '../setup/vars';

button {
    cursor: pointer;
    background-color: $clr2bg;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: $clr2;
    color: $clr-1;
    transition: .3s;
}

input:focus {
    background-color: $clr1bg;
    transition: background-color 1s;
}

.login-form {
    position: absolute;
    display: grid;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $clr1;
    padding: 50px;
}