.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-columns: 1.6rem 1fr 1.6rem; */
}

.main-layout>* {
  grid-column: 2;
}

.app {
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

footer {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}

.toy-index {
  grid-template-columns: rem(200px) 1fr;

  @media (min-width: 800px) {
    grid-template-columns: rem(225px) 1fr;
  }
}